:root {
	--white: #fff;
	--black: #000;
	--red: #d9534f;
	--orange: #f0ad4d;
	--yellow: #ffd500;
	--green: #12f292;
	--blue: #2095f0;
	--teal: #68b7f5;
	--pink: #ed4e6e;
	--purple: #613d7c;

	--gray800: #0f0f15;
	--gray700: #181821;
	--gray600: #35353d;
	--gray500: #6f6f74;
	--gray400: #a8a8ac;
	--gray300: #e2e2e3;
	--gray200: #f7f7f9;

	--brandPrimary: var(--blue);
	--brandSuccess: var(--green);
	--brandInfo: var(--teal);
	--brandWarning: var(--orange);
	--brandDanger: var(--pink);
	--brandInverse: var(--grayDarkest);

	--bodyBg: var(--gray700);
	--bodyColor: var(--gray300);

	--selectionBg: var(--brandPrimary);
	--selectionColor: var(--white);

	--linkColor: var(--bodyColor);
	--linkHoverColor: var(--white);

	--navLinkColor: var(--white);
	--focusColor: var(--brandPrimary);
}

/* DARK MODE
 * ------------------------------ */

@media (prefers-color-scheme: light) {
	:root {
		--gray800: #f7f7f9;
		--gray700: #e2e2e3;
		--gray600: #a8a8ac;
		--gray500: #6f6f74;
		--gray400: #35353d;
		--gray300: #181821;
		--gray200: #0f0f15;

		--bodyBg: var(--white);
		--bodyColor: var(--gray300);

		--linkColor: var(--bodyColor);
		--linkHoverColor: var(--gray500);
		--navLinkColor: var(--gray200);
	}
}

body[data-theme='light'] {
	--gray800: #f7f7f9;
	--gray700: #e2e2e3;
	--gray600: #a8a8ac;
	--gray500: #6f6f74;
	--gray400: #35353d;
	--gray300: #181821;
	--gray200: #0f0f15;

	--bodyBg: var(--white);
	--bodyColor: var(--gray300);

	--linkColor: var(--bodyColor);
	--linkHoverColor: var(--gray500);
	--navLinkColor: var(--gray200);
}
