:root {
	--white: #fff;
	--black: #000;
	--red: #d9534f;
	--orange: #f0ad4d;
	--yellow: #ffd500;
	--green: #12f292;
	--blue: #2095f0;
	--teal: #68b7f5;
	--pink: #ed4e6e;
	--purple: #613d7c;

	--blackOff: #0f0f15;
	--grayDarkest: #181821;
	--grayDark: #35353d;
	--gray: #6f6f74;
	--grayLight: #a8a8ac;
	--grayLighter: #e2e2e3;
	--grayLightest: #f7f7f9;

	--brandPrimary: var(--blue);
	--brandSuccess: var(--green);
	--brandInfo: var(--teal);
	--brandWarning: var(--orange);
	--brandDanger: var(--pink);
	--brandInverse: var(--grayDarkest);

	--bodyBg: var(--grayDarkest);
	--bodyColor: var(--grayLighter);

	--selectionBg: var(--brandPrimary);
	--selectionColor: var(--white);

	--linkColor: var(--bodyColor);
	--linkHoverColor: var(--white);

	--navLinkColor: var(--white);
}

/* DARK MODE
 * ------------------------------ */

@media (prefers-color-scheme: light) {
	:root {
		--bodyBg: var(--white);
		--bodyColor: var(--grayDarkest);

		--linkColor: var(--bodyColor);
		--linkHoverColor: var(--gray);
	}
}

body[data-theme='light'] {
	--bodyBg: var(--white);
	--bodyColor: var(--grayDarkest);

	--linkColor: var(--bodyColor);
	--linkHoverColor: var(--gray);

	--navLinkColor: var(--blackOff);
}
