:root {
	--fontSansSerif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
	--fontSerif: Georgia, 'Times New Roman', Times, serif;
	--fontMonospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
	--fontBase: var(--fontSerif);

	--fontSizeBase: var(--step-0);
	--lineHeightBase: calc(var(--fluid-min-scale-2) * 1);

	--headingsFontFamily: var(--fontSansSerif);
	--headingsFontWeight: 700;
	--headingsLineHeight: calc(var(--fluid-min-scale-1) * 1);
}
