a {
	color: var(--linkColor);
	text-decoration-skip: auto;
	background-color: transparent;
	transition: color var(--transitionTimingBase);

	&:hover,
	&:active,
	&:focus {
		color: var(--linkHoverColor);
		text-decoration: none;
	}

	&:not([href]):not([tabindex]) {
		color: inherit;
		text-decoration: none;
	}

	&:not([href]):not([tabindex]):focus,
	&:not([href]):not([tabindex]):hover {
		color: inherit;
		text-decoration: none;
	}

	&:not([href]):not([tabindex]):focus {
		outline: 0;
	}
}
